amqp==2.5.0
anyjson==0.3.3
billiard==3.5.0.2
celery==4.1.1
dj-database-url==0.5.0
Django==2.2.3
django-celery-beat==1.5.0
django-timezone-field==3.0
kombu==4.3.0
mysqlclient==1.4.2.post1
Pillow==8.3.2
psycopg2==2.8.3
python-crontab==2.3.8
python-dateutil==2.8.0
pytz==2019.1
simplekml==1.3.1
six==1.12.0
sqlparse==0.3.0
vine==1.3.0
whitenoise==4.1.3
gunicorn==19.9.0
django-heroku==0.3.1
redis==3.3.4
boto3==1.9.199
botocore==1.12.199
requests==2.22.0
geopy==1.20.0
bs4==0.0.1
django-cors-headers==3.1.0
google-cloud-storage==1.19.0