{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8"/>
    <title>Pokemon map</title>
    <style>

        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
        }
    </style>
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.js"
            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
            crossorigin="anonymous"></script>
    {#    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>#}

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {#    <!-- Optional theme -->#}
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"#}
    {#          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">#}

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    {#    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
    {#    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">#}
    <script type="text/javascript" src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}">
    </script>
    <script type="text/javascript" src="{% static 'js/geoxml3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ProjectedOverlay.js' %}"></script>

    <script>


        $(document).ready(function () {

            var map;

            map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(49.0384, 31.4513),
                zoom: 6,
            });
            var myParser = new geoXML3.parser(
                {
                    map: map,
                    singleInfoWindow: true,
                    zoom: false
                });
            myParser.parse('https://sites.google.com/site/kmlfiletestmy/firstkml/poke_spawn_test_10.xml');

        });

    </script>

</head>
<body>
<div class="container">
    <a href="https://sites.google.com/site/kmlfiletestmy/firstkml/poke_spawn_test_10.xml">ssss</a>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div id="clock"></div>
        </div>
    </div>
</div>

<div id="map"></div>
<div id="map_text"></div>

<script type="text/javascript">
</script>
</body>

</html>